* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif Devanagari', 'Crimson Text', serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

